### SARL test result

#### Test Process of SARL

![](images/sarl.gif)

#### Average reward of SARL

<img src="images/average_reward.png" style="zoom: 50%;" />

#### Time to goal

<img src="images/time_to_goal.png" style="zoom: 50%;" />